[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule "files/.tmux/plugins/tpm"]
	path = files/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
