/*
  Remember to create the symlinks:
  ln -s ~/.config/waybar/config.d/$HOSTNAME.jsonc ~/.config/waybar/config.d/host.jsonc
  ln -s ~/.config/waybar/config.d/$HOSTNAME.css ~/.config/waybar/config.d/host.css
*/
@import url("config.d/host.css");

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

@keyframes blink-warning {
    70% {
        color: white;
    }
    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }
    to {
        color: white;
        background-color: red;
    }
}

#waybar {
    background: #242424;
    color: white;
    font-family: "Noto Sans";
}

.modules-right box.module {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 0.14em;
    padding-bottom: 0.45em;
}

.modules-right label.module {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 0.14em;
    padding: 0 0.45em;
}

#window {
    font-weight: bold;
}

#workspaces button.empty {
    padding-right: 0.2em;
}

#workspaces button {
    border-top: 0.1em solid transparent;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#mode {
    background: #64727D;
    border-top: 0.1em solid white;
    padding: 0 0.4em;
}

#network {
    background-image: linear-gradient(to right, #7632c8, #7632c8);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 0.14em;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    background-image: linear-gradient(to right, #327bc8, #327bc8);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 0.14em;
}

#pulseaudio.muted {
}

#cpu {
    background-image: linear-gradient(to right, #c83232, #c83232);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 0.14em;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    background-image: linear-gradient(to right, #c87132, #c87132);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 0.14em;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#temperature {
    background-image: linear-gradient(to right, #c8a232, #c8a232);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 0.14em;
}

#temperature.critical {
    color: red;
}

#battery {
    background-image: linear-gradient(to right, #68c832, #68c832);
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#tray {
    background-image: linear-gradient(to right, #a332c8, #a332c8);
    padding: 0.2em 0.4em;
}

#clock {
    background-image: linear-gradient(to right, #32bac8, #32bac8);
}
