URxvt*iconFile: .urxvt/utilities-terminal.png
URxvt*internalBorder: 1
URxvt*iso14755: false
URxvt*saveLines: 1000000
URxvt*scrollBar: false
URxvt*scrollstyle: rxvt
URxvt*termName: rxvt
URxvt*transparent: false
URxvt*urgentOnBell: true
URxvt*visualBell: false

URxvt.perl-ext-common: clipboard,default,matcher,-option-popup,-searchable-scrollback,-selection-popup

URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt*font: xft:Literation Mono Powerline:pixelsize=13:antialias=true:hinting=true
URxvt*boldFont: xft:Literation Mono Powerline:bold:pixelsize=13:antialias=true:hinting=true

URxvt*background: #242424
URxvt*foreground: #c6c6c6
URxvt*color0:     #000000
URxvt*color1:     #bf7276
URxvt*color2:     #86af80
URxvt*color3:     #968a38
URxvt*color4:     #3673b5
URxvt*color5:     #9a70b2
URxvt*color6:     #7abecc
URxvt*color7:     #dbdbdb
URxvt*color8:     #6692af
URxvt*color9:     #e5505f
URxvt*color10:    #87bc87
URxvt*color11:    #e0d95c
URxvt*color12:    #1b85d6
URxvt*color13:    #ad73ba
URxvt*color14:    #338eaa
URxvt*color15:    #f4f4f4
